.card {
    background-color: #333;
    color: white;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 170px 2fr 1fr;
    grid-template-areas:
     "titleimg titleimg titleimg"
     "uploaderimg title kebabmenu"
     "uploaderimg uploaderdetails kebabmenu";
}

.cardtitleimg { 
    grid-area: titleimg;
    max-width: 100%;
}
.carduploaderimg { 
    grid-area: uploaderimg; 
    width: 50px;
}
.cardtitle { grid-area: title; }
.uploaderdetails { grid-area: uploaderdetails; }
.kebabmenu { grid-area: kebabmenu; }